.select-menu {
    cursor: pointer;
    width: 12.625rem;
    height: 2rem;
    position: absolute;
    margin: 7.5rem 0 0 6.25rem;
}

.select-menu-ul>li:first-child {
    border-top-left-radius: .3125rem;
    border-top-right-radius: .3125rem
}

.select-menu-ul>li:last-child {
    border-bottom-left-radius: .3125rem;
    border-bottom-right-radius: .3125rem
}

.select-menu-ul {
    padding: 0;
    margin-top: 3.125rem;
    list-style: none;
    opacity: 0;
    border-radius: .3125rem;
    display: none;
    width: 12.5rem;
    text-align: left;
    border: .0625rem solid #ddd;
    background: #1B2137 !important;
    position: absolute;
    z-index: 1;
}

.select-menu-ul>li {
    padding: 2% 0 2% 3%;

}

.select-menu-ul>li:hover {
    background: #2196f3;
}

.select-menu-div {
    position: relative;
    height: 1.875rem;
    border-radius: .3125rem;
    width: 12.5rem;
    border: .0625rem solid #ddd;
    line-height: 1.875rem;
}

.select-this {
    background: #2196f3;
}

.select-this:hover {
    background: #2196f3 !important;
}


.select-menu-input {
    margin-left: 3%;
    background-color: transparent;
    color: #fff;
    border: 0;
    height: 1.8125rem;
    cursor: pointer;
    user-select: none;
}

.select-menu-i {
    transform: rotate(180deg);

}

i {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}