a {
    text-decoration: none
}

.subject_dl {
    width: 906px;
    padding: 10px 0;
    line-height: 30px;
    overflow: hidden
}

.subject_dt {
    float: left;
    width: 82px;
    text-align: center;
    margin: 0;
    font-size: 14px
}



.subject_dd {
    float: right;
    width: 820px;
    font-size: 14px;
    height: 32px;
    margin: 0
}

.subject_dd_none {
    display: none;
    border: 1px solid;
    position: relative;
    top: -1px;
}

.subject_dd>a {
    color: #333;
    font-size: 14px;
    line-height: 30px;
    margin-left: 20px;
    display: inline-block
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.shaixuan_tj {
       float: left;
    font-size: 14px;
    margin-left: 12px;
    margin-right: 20px;
}

.search_by {
    position: relative;
    padding: 0 20px;
    width: 906px
}

.search_wrapper {
    border: 1px #ddd solid;
        margin: 20px 0;
}

.search_subject {
    width: 100%;
}

.search_by a {
    color: #fff
}

.search_by a:hover {
    text-decoration: none
}


.proName {
    position: absolute;
    right: 460px;
    top: -1px;
}

.show_click {
    position: relative;
    float: left;
    height: 22px;
    line-height: 22px;
    border: 1px solid ;
    font-size: 12px;
    vertical-align: top;
    margin: 0 5px 5px 0;
    padding: 0 26px 0 4px;
    cursor: pointer;
}

.show_click>b {
    font-weight: 400;
}

.show_click:hover {
    border: 1px solid #e4393c !important;
}

.show_click {
    font-style: normal;
}

.show_click>em {
    color: #e4393c;
    font-style: normal;
}

.show_click>i {
    display: block;
    position: absolute;
    width: 25px;
    height: 22px;
    right: 0;
    top: -1px;
    background: url(../../page/images/multipleSelection/search.ele.png) no-repeat 7px -140px;

}

.show_click i:hover {
    border-color: #e4393c;
    background:#e4393c url(../../page/images/multipleSelection/search.ele.png) no-repeat 7px -158px;

}


dd[data-key]::after{
  content: ''
}


